@using Microsoft.EntityFrameworkCore;
@using WebCurs2.Data.Domain.Repositories.EntityFramework;
@using WebCurs2.Data;
@{
    var lang = new EFOptionRepository(new ApplicationDbContext(new DbContextOptions<ApplicationDbContext>())).GetByName("CultureInfo").Value;
}

<!DOCTYPE html>
<html lang="@lang">
<head>
    
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")

</head>
<body>

    <div class="main-wrapper" role="main">

        @await Component.InvokeAsync("HeaderPart")

        @await Component.InvokeAsync("OffCanvas")

        
        @*@await Component.InvokeAsync("BreadCrumb",new BreadCrumbViewModel().endPoint=(WebCurs2.Data.Domain.Entities.Navigate)ViewData["NavPoint"])*@


        @RenderBody()

        @await Component.InvokeAsync("FooterPart")
    </div>


    @await Html.PartialAsync("ScriptsPartial")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
