

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    string MyName = "Levchenko Aleksandr";
    
}

@if (ViewBag.Title != null)
{  
    <title>@ViewData["Title"]</title>
}
else
{
    <title>Work By @MyName</title>
}

@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}


<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />